@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



.navbar-brand {
    letter-spacing: 3.5px;
    color: #000000;
    font-family: 'Bebas Neue', cursive;
  }
  
  .navbar-nav:hover {
      color: #000000;
  }
  
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #000000;
  }
  
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: #000000;
  }
  
  .navbar-scrolled {
    background-color: #ffede7;
  }

.page-footer {

    background-color: #ffcc00;
}

.footer {
    background-color: #e7be18;
}



/* .dotted {
  border-radius: 10px;
  background-color: #FFF;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.75);
} */

#filmTable{
  background-color: #EEE;
}

h3{
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  }

