@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');



.navbar-brand {
    letter-spacing: 3.5px;
    color: #000000;
    font-family: 'Bebas Neue', cursive;
  }
  
  .navbar-brand:hover {
      color: #000000;
  }
  
  .navbar-scroll .nav-link,
  .navbar-scroll .fa-bars {
    color: #000000;
  }
  
  .navbar-scrolled .nav-link,
  .navbar-scrolled .fa-bars {
    color: #000000;
  }
  
  .navbar-scrolled {
    background-color: #ffede7;
  }

.page-footer {

    background-color: #ffcc00;
}

.footer {
    background-color: #e7be18;
}